html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: white;
}

canvas {
  width: 100%;
  height: 100%;
  background-color: white;
}

.overlay {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  display: none;
}

#tony-ronald, #chatroom {
  z-index: -10;
  display: none;
}

#flash {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;

  background-color: white;
  color: red;
  font-size: 50px;
  text-align: center;
  padding-top: 300px;

  display: none;
}

#ronald-gui {
  position: fixed;
  z-index: 100;
  width: 300px;
  height: 300px;
  overflow: scroll;
  top: 61px;
  left: 732px;
  background-color: red;
  text-align: center;
  display: none;
}

.ronald-header {
  margin: 10px;
}

.ronald-button {
  cursor: pointer;
  margin: 10px;
  padding: 5px;
  min-height: 20px;
  background-color: rgba(255, 255, 255, 0.75);
  border-color: yellow;
  border-style: solid;
  border-radius: 15px;
  border-width: 3px;
}
  .ronald-button:hover {
    background-color: rgba(200, 200, 200, 0.75);
  }
